body{
    background-color: #212124;
    color: #888;
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header{
    background-color: #1f1f1f;
    color: #fff;
}

#navbar{
    background-color:#cc5454;
    color: #fff;
}
#navbar ul{
    padding: 0px;
    list-style: none;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

#showcase{
    background-image: url("../images/sebastianervi.jpg");
    background-position: center right;
    min-height:300px;
    margin-bottom: 30px;

}

#showcase h1{
    color: #fff;
    text-align: center;
    padding-top: 100px;
}

#main{
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}
#sidebar{
    float: left;
    width: 30%;
    color: white;
    background: #cc5454;
    padding: 10px;
    box-sizing: border-box;
}

#main-footer{
    text-align: center;
    color: rgb(252, 124, 124);
    background-color: #161616;
    padding: 20px;
    margin-top: 20px;
}

/*media query, when browser is < 600px, it removes the float*/
@media(max-width:600px){
    #main{
        width: 100%;
        float: none;
    }

    #sidebar{
        width: 100%;
        float: none;
    }
}